@import url("type.css");
@import url("theme.css");
html > * {
  box-sizing: border-box;
}
body {
  font-family: var(--default-font-family);
  font-size: var(--font-size-base);
  height: 100vh;
}

#root {
  height: 100%;
}
h1 {
  font-size: var(--font-size-xxl);
  font-weight: 700;
}

h2 {
  font-weight: 700;
}
button {
  font-family: var(--default-font-family);
}
.loader {
  height: 4px;
  width: 200px;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}

.error,
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader-container {
  height: 50px;
}
.app {
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(0, 1fr);
  max-height: 100%;
  box-sizing: border-box;
}

/* .description,
.container {
  justify-self: start;
} */
.container {
  border: 1px dashed var(--primary-500);
  border-radius: 4px;
  margin-top: 20px;
  min-height: 0;
  max-width: 100%;
}

.description {
  text-align: center;
}

.description__title {
  color: var(--primary-900);
}
.description__text {
  font-size: var(--font-size-sm);
}

.search {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-height: 100%;
}
.search__heading {
  font-weight: 600;
  text-align: center;
  color: var(--text-secondary);
}

.search__btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  padding: 0px 20px;
  margin: 6px 0;
  min-height: 0;
  overflow: auto;
}

.search__btn-container--regions {
  grid-template-columns: repeat(2, 1fr);
}
.search__btn,
.result__btn,
.error__btn {
  border: none;
  background-color: var(--primary-button-default);
  color: #fff;
  font-size: var(--font-size-xs);
  border-radius: 2px;
  padding: 3px 6px;
  display: inline-block;
  line-height: 1;
}

.error__btn {
  background-color: var(--danger-light);
  color: var(--danger-dark);
  border: 1px solid var(--danger-dark);
  padding: 2px 6px;
}
.search__btn:hover,
.result__btn:hover {
  background-color: var(--primary-button-hover);
}

.error__btn--new-search,
.result__btn--new-search {
  background-color: var(--primary-50);
  color: var(--primary-900);
  border: 1px solid var(--primary-900);
  padding: 2px 6px;
  margin-left: 10px;
}

.result__btn--new-search:hover {
  background-color: var(--primary-100);
}

.result__container {
  display: grid;
  row-gap: 6px;
  grid-template-rows: auto auto auto 1fr;
}
.result__table-constraint,
.result__table-container {
  max-height: 400px;
}
.result__table-constraint {
  padding: 20px 20px;

  overflow: auto;
  background-color: var(--layer-background);
}
.result__table-container {
  max-width: 100%;
  font-size: var(--font-size-xs);
  box-sizing: border-box;
  overflow: auto;
}

.result__table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--layer-highlight);
}

.result__table-header,
.result__table-content {
  border: 1px solid var(--layer-border);
  padding: 8px;
  white-space: nowrap; /* Ensures content does not wrap */
  overflow: hidden;
}

.result__table-header {
  background-color: var(--layer-overlay);
  text-align: left;
}

@media (min-width: 768px) {
  .app {
    padding: 40px 40px;
  }
  .container {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .app {
    padding: 100px 100px;
  }
}
