@import url("type.css");
@import url("theme.css");
body {
  font-family: var(--default-font-family);
  font-size: var(--font-size-base);
  height: 100vh;
}

#root {
  height: 100%;
}
h1 {
  font-size: var(--font-size-xxl);
  font-weight: 700;
}

h2 {
  font-weight: 700;
}
.loader {
  height: 4px;
  width: 200px;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}
.loader-container {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app {
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(0, 1fr);
  max-height: 100%;
  box-sizing: border-box;
}

/* .description,
.container {
  justify-self: start;
} */
.container {
  border: 1px dashed var(--primary-500);
  border-radius: 4px;
  margin-top: 20px;
  min-height: 0;
  max-width: 100%;
}

.description {
  text-align: center;
}

.description__title {
  color: var(--primary-900);
}
.description__text {
  font-size: var(--font-size-sm);
}

.search {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-height: 100%;
}
.search__heading {
  font-weight: 600;
  text-align: center;
  color: var(--text-secondary);
}

.search__btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  padding: 0px 20px;
  margin: 6px 0;
  min-height: 0;
  overflow: auto;
}

.search__btn-container--regions {
  grid-template-columns: repeat(2, 1fr);
}
.search__btn,
.result__download-btn {
  border: none;
  background-color: var(--primary-button-default);
  color: #fff;
  font-size: var(--font-size-xs);
  border-radius: 2px;
  padding: 3px 6px;
  display: inline-block;
}

.search__btn:hover,
.result__download-btn:hover {
  background-color: var(--primary-button-hover);
}

.result__table-constraint,
.result__table-container {
  max-height: 400px;
}
.result__table-constraint {
  padding: 20px 20px;

  overflow: auto;
  background-color: var(--layer-background);
}
.result__table-container {
  max-width: 100%;
  font-size: var(--font-size-xs);
  box-sizing: border-box;
  overflow: auto;
}

.result__table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--layer-highlight);
}

.result__table-header,
.result__table-content {
  border: 1px solid var(--layer-border);
  padding: 8px;
  white-space: nowrap; /* Ensures content does not wrap */
  overflow: hidden;
}

.result__table-header {
  background-color: var(--layer-overlay);
  text-align: left;
}

@media (min-width: 768px) {
  .app {
    padding: 0px 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container {
    max-height: 400px;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .app {
    padding: 0px 100px;
  }
}

/* @media (max-width: 600px) {
  .responsive-table thead {
    display: none;
  }

  .result__table,
  .result__table-body,
  .result__table-row,
  .result__table-content {
    display: block;
    width: 100%;
  }

  .result__table-row {
    margin-bottom: 15px;
  }

  .result__table-content {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .result__table-content::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    text-align: left;
    font-weight: bold;
  }
} */
