@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-lg: 1.25rem;
  --line-height-base: 1.5;
  --line-height-sm: 1.4;
  --line-height-lg: 1.6;

  /* Responsive adjustments */
  --font-size-xs: calc(var(--font-size-base) - 0.125rem);
  --font-size-md: calc(var(--font-size-base) + 0.125rem);
  --font-size-xl: calc(var(--font-size-base) + 0.25rem);
  --font-size-xxl: calc(var(--font-size-base) + 0.5rem);

  --line-height-xs: calc(var(--line-height-base) - 0.1);
  --line-height-md: calc(var(--line-height-base) + 0.1);
  --line-height-xl: calc(var(--line-height-base) + 0.2);
  --line-height-xxl: calc(var(--line-height-base) + 0.3);

  --default-font-family: "Nunito Sans", sans-serif;
  --text-secondary: #19191a;
}

@media (min-width: 576px) {
  :root {
    --font-size-sm: 0.9rem;
    --font-size-lg: 1.375rem;
    --line-height-base: 1.6;
    --line-height-sm: 1.5;
    --line-height-lg: 1.7;
  }
}

@media (min-width: 768px) {
  :root {
    --font-size-sm: 1.125rem;
    --font-size-lg: 1.5rem;
    --line-height-base: 1.7;
    --line-height-sm: 1.6;
    --line-height-lg: 1.8;
  }
}

@media (min-width: 992px) {
  :root {
    --font-size-sm: 1.15rem;
    --font-size-lg: 1.625rem;
    --line-height-base: 1.8;
    --line-height-sm: 1.7;
    --line-height-lg: 1.9;
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size-sm: 1.25rem;
    --font-size-lg: 1.75rem;
    --line-height-base: 1.9;
    --line-height-sm: 1.8;
    --line-height-lg: 2;
  }
}
